/* @font-face {
  font-family: 'W95FA';
  src:
    url('./w95fa.woff2') format('woff2 supports variations'),
    url('./w95fa.woff2') format('woff2-variations');
} */
#MaurerSketch {
  height: 100%;
  position: relative;
  overflow: hidden;

  /* html, body {
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'VT323', monospace;
} */
/* * {
  box-sizing: border-box;
} */


--windowGray: #C4C4C4;
--windowGrayDark: #7D8583;
--windowHeader: #100084;
--windowBorder: rgb(39, 39, 39) -2px -2px 0px 0px inset, rgb(236, 236, 236) 2px 2px 0px 0px inset, rgb(117, 117, 117) -3px -3px 0px 0px inset, rgb(218, 218, 218) 3px 3px 0px 0px inset;
--windowBorderSmall: rgb(39, 39, 39) -1px -1px 0px 0px inset, rgb(236, 236, 236) 1px 1px 0px 0px inset, rgb(117, 117, 117) -2px -2px 0px 0px inset, rgb(218, 218, 218) 2px 2px 0px 0px inset;
--windowBorderNoBottom: rgb(39, 39, 39) -1px 0px 0px 0px inset, rgb(236, 236, 236) 1px 1px 0px 0px inset, rgb(117, 117, 117) -2px 0px 0px 0px inset, rgb(218, 218, 218) 2px 2px 0px 0px inset;
--windowInset: rgb(222 220 222) -1px -1px 0px 0px inset, rgb(160 153 161) 1px 1px 0px 0px inset, rgb(202 198 203) -2px -2px 0px 0px inset, rgb(70 65 71) 2px 2px 0px 0px inset;



::-webkit-scrollbar {
    width: 16px
}
::-webkit-scrollbar-track {
  background-color:  rgb(210, 210, 210);
  background-position: 0px 0px, -1px -1px;
  background-size: 2px 2px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(202, 198, 203);
  border-color: rgb(202, 198, 203) rgb(70, 65, 71) rgb(70, 65, 71) rgb(202, 198, 203);
  border-style: solid;
  border-width: 1px;
  box-shadow: rgb(255 255 255) 1px 1px 0px 0px inset, rgb(160 153 161) -1px -1px 0px 0px inset;
  height: 16px;
  width: 16px;
  z-index: 1;
}


p, h1, h2, h3 {
  margin: 0;
}
strong {
  font-weight: bold;
  font-size: 1.1rem;
}

/* input, button {
  font-family: 'VT323', monospace;
} */
input[type="number"] {
  border: none;
  background-color: white;
  box-shadow: var(--windowInset);
  padding: 3px 6px;
  border-radius: 1px;
}
button {
  border: none;
  color: black;
  padding: 0;
}

canvas {
  display: block;
  user-select: none;
}
.code-block {
  padding: 6px 8px;
  font-size: 0.75rem;
  box-shadow: var(--windowInset);
  background-color: white;
}

.classic-button {
  position: relative;
  transition: 100ms;
  background-color: rgb(202, 198, 203);
  box-shadow: rgb(70 65 71) -1px -1px 0px 0px inset, white 1px 1px 0px 0px inset, rgb(160 153 161) -2px -2px 0px 0px inset, rgb(222 220 222) 2px 2px 0px 0px inset;
}
.classic-button:active {
  padding: 2px 0 0 2px;
  background: linear-gradient(45deg, rgb(239, 238, 240) 25%, transparent 25%, transparent 75%, rgb(239, 238, 240) 75%, rgb(239, 238, 240)) 0px 0px / 2px 2px, rgb(202, 198, 203);
  box-shadow: white -1px -1px 0px 0px inset, rgb(70, 65, 71) 1px 1px 0px 0px inset, rgb(222, 220, 222) -2px -2px 0px 0px inset, rgb(202, 198, 203) 2px 2px 0px 0px inset;
}

.classic-button:after {
  content: "";
  position: absolute;
  inset: 2px 3px 2px 2px;
  border: 1px dashed black;
  opacity: 0;
  transition: 200ms;
}
.classic-button:hover:after {
  opacity: 1;
}
.classic-button:active:after {
  inset: 2px 2px 2px 2px;
}
.custom-checkbox {
  cursor: pointer;
  display: flex;
  gap: 6px;
}
.hidden-checkbox {
  display: none;
}
.checkmark {
  position: relative;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border: inset 1px rgb(220, 220, 220);
  border-radius: 100%;
}
.checkmark:before {
  content: "";
  position: absolute;
  background-color: none;
  border-radius: 100%;
  border: inset 2px rgb(146, 146, 146);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: black
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}


/* WARNING STUFF */

.hide-warning {
  bottom: -5rem;
}
.show-warning {
  bottom: 0;
}

/* Basic Panel */
#instructionContainer {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 430px;
  max-width: 100%;
  height: 550px;
  max-height: 100vh;
  max-height: 100svh;
  transition: 0.35s;

  padding: 4px;
  background-color: var(--windowGray);
  border-radius: 2px;
  box-shadow: var(--windowBorder);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

#instructionContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: -3px 2px 3px rgba(130, 130, 130, 0.3);
  z-index: -1;
}
#instructionContainer.out {
  right: -430px;
  top: -550px;
  opacity: 0;
}
#instructionContainer.in{
  right: 0;
  top: 0;
  opacity: 1;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--windowHeader);
  color:white;
  font-size: 1rem;
  line-height: 0;
  padding: 4px 3px 4px 5px;
}
#closeButton {
  padding: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 0;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Panels */
#panelsContainer {
  position: relative;
  margin: 8px 8px 0 6px;
  display: grid;
  grid-template-rows: min-content 1fr;
}

#tabs {
  display: flex;
  align-items: flex-end;
}

#tabs input:checked + label {
  height: 1.45rem;
  padding-top: 0.2rem;
  margin-bottom: -2px;
  z-index: 30;
}

#tabs label {
  transform-origin: top left;
  position: relative;

  width: fit-content;
  display: block;
  font-size: 0.95rem;
  padding: 2px 8px;
  height: 1.3rem;
  z-index: 29;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;;
  text-align: center;
  background-color: var(--windowGray);
  box-shadow: var(--windowBorderNoBottom);
  cursor: pointer;
  transition: 200ms;
}

#tabs label:after {
  content: "";
  position: absolute;
  inset: 3px 4px 2px 3px;
  border: 1px dashed black;
  opacity: 0;
  transition: 200ms;
}
#tabs label:hover:after {
  opacity: 1;
}

.hidden-radio {
  display: none;
}

#panelsContainer > section {
  border-radius: 2px;
  border-top-left-radius: 0px;
  height: 100%;
  max-height: 450px;
  padding: 8px 12px 12px;
  box-shadow: var(--windowBorderSmall);
  overflow-y: auto;
}
.tab-active {
  display: block;
}
.tab-hidden {
  display: none;
}

.tab-content-title {
  margin-bottom: 0.3rem;

}

.stepsContainer{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.stepsContainer button {
  line-height: 1rem;
  width: 1.7rem;
  height: 1.4rem;
  font-weight: bold;
  flex-grow: 0;
  flex-shrink: 0;
}
.step {
  font-size: 1.2rem;
}
.stepsContainer span {
  display: inline-block;
  transform-origin: center center;
}
#leftButton span {
  transform: rotate(180deg) translateY(0.05rem);
}
#upButton span {
  transform: rotate(270deg) translateY(0.05rem);
}
#downButton span {
  transform: rotate(90deg) translateY(0.05rem);
}

.shortcut-row {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 4px;
  align-items: flex-start;
}
.shortcut-row span {
  margin-top: -2px;
}

.num-input-wraper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0
}

/* Main Buttons */
#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin: 8px;
}
#buttonContainer button {
  font-size: 0.95rem;
  padding: 2px;
  text-align: center;
  width: 86px;
  height: 24px;
}


.mb-16 {
  margin-bottom: 16px;
}
.underline {
  text-decoration: underline;
} 

.mobile {
  display: none;
}
.desktop {
  display: block;
}

@media (max-width: 600px) {
  #instructionContainer {
    height: 100vh;
    height: 100svh;
  }
  #panelsContainer > section {
    max-height: 100%;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
}
