.RMX-Sketch {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--rmx-bg-color);

  font-smooth: never;
  -webkit-font-smoothing : none;


  canvas {
    display: block;
  }

  .RMX-loading { 
    margin: 0;
    padding: 0;
  
    font-family:  VT323, monospace;
    font-size: 3rem;  
    color: var(--rmx-color2);
    background: -webkit-linear-gradient(var(--rmx-color1), var(--rmx-color2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  .RMX-loadingBg {
    background: var(--rmx-bg-color);
    padding: 0.5rem 1rem;
  }
  .RMX-loadingBorder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    animation: spinningBorder 1.5s linear infinite;
  }

  #p5_loading {
    display: none;
  }

  .RMX-resetText { 
    padding: 1rem;
    text-align: center;
    font-family:  VT323, monospace;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 30%;
    display: none;
  }


  @keyframes spinningBorder {
    0% {
      background: linear-gradient( 0deg, var(--rmx-color1), var(--rmx-color2));
    }
    25% {
      background: linear-gradient( 90deg, var(--rmx-color1), var(--rmx-color2));
    }
    50% {
      background: linear-gradient( 180deg, var(--rmx-color1), var(--rmx-color2));
    }
    75% {
      background: linear-gradient( 270deg, var(--rmx-color1), var(--rmx-color2));
    } 
    100% {
      background: linear-gradient( 360deg, var(--rmx-color1), var(--rmx-color2));
    }
  }
}